[user]
	name = Borja Clemente
	useConfigOnly = true
	signingkey = 2539757EF64C60DD
[core]
	editor = nvim
	ignoreCase = false
	excludesFile = ~/.gitignore
[init]
	defaultBranch = main
[filter "lfs"]
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
[pager]
	branch = false
	tag = false
	stash = false
[format]
	signoff = true
[commit]
	gpgsign = true
[pull]
	rebase = true
[push]
	autoSetupRemote = true
